@{
  Layout = "_Layout";
}
<div class="container index">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <span class="logo"><a href="/">HairSalon</a></span>
    <ul>
      <li><a href="/stylists">Stylists</a></li>
      <li><a href='/stylists/@Model["stylist"].GetId()/clients/new'>Add client</a></li>
    </ul>
  </nav>
  <div class="content">
    <h3>@Model["stylist"].GetFirstName() @Model["stylist"].GetLastName()</h3>

    <h3>Clients: </h3>

    <ul>
      @foreach (var client in @Model["clients"])
      {
        <h4><a href='/stylists/@Model["stylist"].GetId()/clients/@client.GetId()'>@client.GetFirstName() @client.GetLastName()</a></h4>
      }
    </ul>
  </div>
</div>
